/* #F44336 */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
*, *:before, *:after {
	box-sizing: border-box;
	margin: auto;
}

html {
	margin: auto;
	font-family: "Roboto";
}

body {
	color: black;
}

#navbar {
	background-color: #F44336;
	text-align: center;
	position: fixed;
	width: 100%;
}

#navbar img {
	margin-top: 7px;
	padding: 7px;
	width: 250px;
}

#navbar sub {
	font-size: 2rem;
}

section {
	text-align: center;
	margin-top: 5rem;
	border: 2px #F44336 solid;
	width: 50%;
	color: #6f6f6f;
	font-size: 2rem;
	box-shadow: 8px 8px 0 0 #CCC;
}

section:last-of-type {
	margin-bottom: 3.2rem;
}

section h2, section h3 {
	background-color: #F44336;
	color: white;
}

section p:not(:last-of-type) {
	margin: 0 5rem;
}

textarea {
	height: 20rem;
	width: 44%;
}

textarea:first-of-type {
	margin: 0% 1% 0% 0%;
}

textarea:nth-of-type(2) {
	margin: 0% 0% 0% 1%;
}

textarea#warnings {
	width: 90%;
}

input[type="submit"] {
	font-size: 2rem;
	font-weight: lighter;
}

section.noborder p {
	border-bottom: 0px white none;
}

#map {
	margin-bottom: 25px;
}

a {
	color: #F44336;
}

a:hover {
	color: #FF4336;
}