doctype html
html
	head
		title= title
		<link rel="stylesheet" href="/transitions/transitions.css" />
		<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="/transitions/transitions.js"></script>
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/skeleton.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')

	body
		block content
			#landing-container
				#center-container
					img(src="/img/logo_web.png", width=500)
					a(href="/doctor/55ec35fd45b931d6555826ed", data-transition='fade')
						.button-fill.grey(onmouseover='$(this).children(".button-inside").addClass("full");', onmouseout='$(this).children(".button-inside").removeClass("full");')
							.button-text Get Started
							.button-inside
								.inside-text Get&nbspStarted