doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    //- <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
    //- <script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
    //- <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    //- <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    //- <script src="/jquery.mobile.custom/jquery.mobile.custom.min.js"></script>
    //- link(rel='stylesheet', href='/jquery.mobile.custom/jquery.mobile.custom.structure.min.css')
    //- link(rel='stylesheet', href='/jquery.mobile.custom/jquery.mobile.custom.theme.min.css')
    link(rel='stylesheet', href='/stylesheets/skeleton.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')


    - var titleCase = function titleCase(string) {
    -     return string.charAt(0).toUpperCase() + string.slice(1);
    - }

  body
    //- #navbar Medspace<sub>#{title}</sub>
    #navbar
        img(src="/img/logo_web.png")
    
    h1= title
    block content