doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

    <link rel="stylesheet" href="/transitions/transitions.css" />
    <script src="/transitions/transitions.js"></script>

    link(rel='stylesheet', href='/stylesheets/skeleton.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')


    - var titleCase = function titleCase(string) {
    -     return string.charAt(0).toUpperCase() + string.slice(1);
    - }

  body
    //- #navbar Medspace<sub>#{title}</sub>
    #navbar
        a(href='/')
            img(src="/img/logo_web.png")
    
    h1= title
    block content