doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/skeleton.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')

    - var titleCase = function titleCase(string) {
    -     return string.charAt(0).toUpperCase() + string.slice(1);
    - }

  body
    //- #navbar Medspace<sub>#{title}</sub>
    #navbar
        img(src="/img/logo.png")
    
    h1= title
    block content